# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\硕士毕业论文\04-项目工程\AviationGraph\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
